name: Terraform Pipeline

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform (apply or destroy)'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy
  
  push:
    branches: [main]
    paths:
      - 'terraform/**'
      - '!**.md'
      - '!docs/**'
  pull_request:
    branches: [main]
    paths:
      - 'terraform/**'
      - '!**.md'
      - '!docs/**'

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
      #TF_VAR_backend_access_key: ${{ secrets.YC_ACCESS_KEY }}
      #TF_VAR_backend_secret_key: ${{ secrets.YC_SECRET_KEY }}
      TF_VAR_cloud_id: ${{ secrets.YC_CLOUD_ID }}
      TF_VAR_folder_id: ${{ secrets.YC_FOLDER_ID }}
      TF_VAR_yc_token: ${{ secrets.YC_IAM_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform Init
        env:
          YC_ACCESS_KEY: ${{ secrets.YC_ACCESS_KEY }}
          YC_SECRET_KEY: ${{ secrets.YC_SECRET_KEY }}
        run: |
          terraform init \
            -backend-config="access_key=${YC_ACCESS_KEY}" \
            -backend-config="secret_key=${YC_SECRET_KEY}"
        working-directory: ./terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: terraform plan -out=tfplan
        working-directory: ./terraform
 
      - name: Upload Terraform Plan
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4       
        with:
          name: terraform-plan
          path: ./terraform/tfplan

      - name: Terraform Apply
        if: |
          (github.event_name == 'push' && github.ref == 'refs/heads/main') || 
          (github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'apply')
        env:
          TF_LOG: DEBUG
        run: terraform apply -auto-approve
        working-directory: ./terraform

      - name: Terraform Plan Destroy
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'destroy'
        env:
          TF_LOG: DEBUG
        run: terraform plan -destroy -out=tfplan-destroy
        working-directory: ./terraform

      - name: Terraform Destroy
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'destroy'
        env:
          TF_LOG: DEBUG
        run: terraform destroy -auto-approve
        working-directory: ./terraform