name: Terraform Pipeline

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'terraform/**'
      - '!**.md'
      - '!docs/**'
  pull_request:
    branches: [main]
    paths:
      - 'terraform/**'
      - '!**.md'
      - '!docs/**'

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_VAR_service_account_key_file: ./terraform/key.json
      TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version:

      - name: Create key.json for Yandex Cloud provider
        run: |
          printf '%s' '${{ secrets.YC_SERVICE_ACCOUNT_KEY }}' > ./terraform/key.json

      - name: Debug key.json content
        run: |
          head -c 10 ./terraform/key.json

      - name: Terraform Init
        env:
          YC_ACCESS_KEY: ${{ secrets.YC_ACCESS_KEY }}
          YC_SECRET_KEY: ${{ secrets.YC_SECRET_KEY }}
        run: |
          terraform init \
            -backend-config="access_key=${YC_ACCESS_KEY}" \
            -backend-config="secret_key=${YC_SECRET_KEY}"
        working-directory: ./terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: terraform plan -out=tfplan
        working-directory: ./terraform
 
      - name: Upload Terraform Plan
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4       
        with:
          name: terraform-plan
          path: ./terraform/tfplan

      - name: Terraform Apply
        if: |
          github.event_name == 'push' &&
          github.ref == 'refs/heads/main'
        env:
          TF_LOG: DEBUG
          TF_VAR_backend_access_key: ${{ secrets.YC_ACCESS_KEY }}
          TF_VAR_backend_secret_key: ${{ secrets.YC_SECRET_KEY }}
          TF_VAR_cloud_id: ${{ secrets.YC_CLOUD_ID }}
          TF_VAR_folder_id: ${{ secrets.YC_FOLDER_ID }}
        run: terraform apply -auto-approve
        working-directory: ./terraform